.skills {
  margin-top: 50px;
}

.skills-title {
  color: rgb(255, 255, 255);
  font-family: K2D;
  font-size: 143.29px;
  font-weight: 600;
  line-height: 102.5px;
  letter-spacing: 5%;
  text-align: left;
}

.skills-block {
  margin-top: 150px;
  display: flex;
  align-items: center;
  gap: 95px;
}

.skills-block__content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.skills-block__content > span {
  width: 156px;
  color: rgb(255, 251, 251);
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0%;
}
